/* @import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap'); */
@font-face {
    font-family: 'Dolbomche_R';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* .ff-dokdo{font-family: 'East Sea Dokdo'} */
